@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base{
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth ;
  }
  body{
    @apply primary-bg;
  }
}

@layer utilities {
  .primary-bg {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
  .flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 12px;
  }
}
